/* page transition */
.transition {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.transition-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tone-500);
  transform: translateY(100%);
  will-change: transform;
}

.is-transitioning .transition-overlay {
  transform: translateY(0);
}
