@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --tone-100: #000000;
  --tone-200: #222222;
  --tone-300: #5b5c57;
  --tone-400: #f2f3f0;
  --tone-500: #4c6b8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--tone-400);
  color: var(--tone-100);
}

h1,
h2,
h3,
h4,
a,
p,
span {
  font-family: "Outfit";
  text-transform: uppercase;
}

h1 {
  font-size: 15rem;
  font-weight: 500;
  color: var(--tone-500);
  line-height: 0.85;
}

h2 {
  font-size: 7rem;
  font-weight: 500;
  line-height: 0.9;
}

h3 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.9;
}

h4 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 0.9;
}

a,
p {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

.word {
  display: inline-block;
  margin-right: 0.25em;
}

.char {
  display: inline-block;
}

.char span {
  display: inline-block;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 2rem;
  }

  a,
  p {
    font-size: 1.125rem;
  }

  .container {
    padding: 1rem;
  }
}
